---
http_interactions:
- request:
    method: post
    uri: https://<<SALESFORCE_HOST>>/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--Full.cs68.my.salesforce.com","id":"https://<<SALESFORCE_HOST>>/id/00D1D0000009nrYUAQ/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1576111564273","signature":"4/1XoQ9HLrkyW1XQa3p7Jm719xEMToqOXeE6aXAhSjI="}'
  recorded_at: Thu, 12 Dec 2019 00:46:04 GMT
- request:
    method: patch
    uri: "<<SALESFORCE_INSTANCE_URL>>/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Application_Preference__c/a0w0P00000OUJc3QAH"
    body:
      encoding: UTF-8
      string: '{"Individual_preference__c":"Work in SF","Post_Lottery_Validation__c":"Unconfirmed"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00D1D0000009nrYm";
      Sforce-Limit-Info:
      - api-usage=5637/5000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 12 Dec 2019 00:46:05 GMT
recorded_with: VCR 5.0.0
