{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        },
        "useBuiltIns": false
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-async-to-generator",
    ["babel-plugin-root-import", {
      "rootPathSuffix": "app/javascript"
    }],
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "spec": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [["@babel/env"], "@babel/react"],
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-async-to-generator",
        ["babel-plugin-root-import", {
          "rootPathSuffix": "app/javascript"
        }],
        ["@babel/plugin-transform-runtime", {
          "regenerator": true
        }],
        [
          "@babel/plugin-proposal-class-properties",
          {
            "spec": true
          }
        ]
      ]
    }
  }
}
