SALESFORCE_CLIENT_SECRET=''
SALESFORCE_CLIENT_ID=''
SALESFORCE_INSTANCE_URL=''

# Unleash
UNLEASH_ENV = ''
UNLEASH_URL=''
UNLEASH_TOKEN=''
UNLEASH_TOKEN_RAILS=''

# backend
DAHLIA_API_KEY=''
DAHLIA_API_URL=''