header.lead-header
  h1 Listings

/ include webpacked react-table CSS
== stylesheet_pack_tag 'react-table'
== react_component 'IndexTable', {  page: :listing_index, results: @listings, fields: @fields, links: ['View Listing', 'Add Application', 'Lease Ups']  }
