/ include webpacked react-table CSS
== stylesheet_pack_tag 'react-table'
/ TODO: could render normal IndexTable for this record set if Lottery Complete, so not editable
== react_component 'SpreadsheetIndexTable', { results: @flagged_applications, fields: @fields }
