h1 Marked Duplicate Apps

/ include webpacked react-table CSS
== stylesheet_pack_tag 'react-table'
== react_component 'IndexTable', { results: @marked_duplicate_record_sets, fields: @fields, links: ['View Flagged Applications']}
