/ include webpacked react-table CSS
== stylesheet_pack_tag 'react-table'
== react_component 'IndexTable', { results: @pending_review_record_sets, fields: @fields, links: ['View Flagged Applications']}
