---
http_interactions:
- request:
    method: post
    uri: https://<<SALESFORCE_HOST>>/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Readonlymode:
      - 'false'
      X-Sfdc-Request-Id:
      - 175a29ae3a8f58a8a0b800182b79dac3
      X-Sfdc-Edge-Cache:
      - none
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://<<SALESFORCE_HOST>>","id":"https://test.salesforce.com/id/00Dbb000002NqmLEAS/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1782345923702","signature":"1DTwQqtf0OphXh3RWILCipEjcfxCSBAniMMNdvztR8Q="}'
  recorded_at: Thu, 25 Jun 2026 00:05:23 GMT
- request:
    method: get
    uri: "<<UNLEASH_URL>>client/features"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Unleash-Instanceid:
      - 6293e664-5739-4f98-8152-d9d795d768ad
      Unleash-Appname:
      - webapp
      Unleash-Client-Spec:
      - 6.0.1
      Unleash-Sdk:
      - unleash-ruby-sdk:6.6.0
      Authorization:
      - "<<ACCESS_TOKEN>>"
      Unleash-Connection-Id:
      - dca0dfc3-7359-41ae-bc80-8356f8e77eae
      Unleash-Interval:
      - '15'
      Content-Type:
      - application/json
      If-None-Match:
      - '"537b2ba0:1607"'
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Etag:
      - '"537b2ba0:1607"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 25 Jun 2026 00:05:25 GMT
- request:
    method: post
    uri: https://<<SALESFORCE_HOST>>/services/apexrest/LeasingAgentPortal/shortForm
    body:
      encoding: UTF-8
      string: '{"applicationSubmissionType":"Paper","applicationSubmittedDate":"2019-03-12","status":"Submitted","annualIncome":110000,"applicationLanguage":"English","listingID":"a0W0P00000F8YG4UAN","primaryApplicant":{"city":"SAN
        FRANCISCO","DOB":"1950-01-01","email":"eee@eeee.com","firstName":"Test","lastName":"Supp
        app test","state":"CA","zip":"94105-1804"},"householdMembers":[{"DOB":"1976-06-11","firstName":"member","lastName":"test"}],"alternateContact":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sfdc-Request-Id:
      - '08a9b55c8044a70f6372933f518965c8'
      X-Sfdc-Edge-Cache:
      - none
    body:
      encoding: ASCII-8BIT
      string: '{"uploadURL":null,"totalMonthlyRent":null,"suppAppSignedDate":null,"subStatus":null,"status":"Submitted","snapshotId":null,"shortFormPreferences":[{"zip":null,"vetStatus":null,"vetPreferenceProof":null,"state":null,"shortformPreferenceID":"a0wbb00000ByWOTAA3","requiresProof":false,"recordTypeDevName":"COP","preferenceProof":null,"postLotteryValidation":null,"optOut":false,"naturalKey":null,"lwPreferenceProof":null,"listingPreferenceID":"a0l0P00001Lx8XKQAZ","individualPreference":null,"customPreferenceType":"COP","city":null,"certificateNumber":null,"appMemberID":null,"applicationID":"a0obb000002GYxRAAW","address":null},{"zip":null,"vetStatus":null,"vetPreferenceProof":null,"state":null,"shortformPreferenceID":"a0wbb00000ByWOUAA3","requiresProof":false,"recordTypeDevName":"DTHP","preferenceProof":null,"postLotteryValidation":null,"optOut":false,"naturalKey":null,"lwPreferenceProof":null,"listingPreferenceID":"a0l0P00001Lx8XPQAZ","individualPreference":null,"customPreferenceType":"DTHP","city":null,"certificateNumber":null,"appMemberID":null,"applicationID":"a0obb000002GYxRAAW","address":null},{"zip":null,[...]
- request:
    method: get
    uri: https://<<SALESFORCE_HOST>>/services/apexrest/LeasingAgentPortal/shortForm/a0obb000002GYxRAAW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sfdc-Request-Id:
      - 52c9dc6dc5295b8e7d8fdfd42001fc82
      X-Sfdc-Edge-Cache:
      - none
    body:
      enc[...]
[...]
- request:
    method: get
    uri: https://<<SALESFORCE_HOST>>/services/apexrest/Person/003bb000019r4FvAAI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sfdc-Request-Id:
      - 7821af8b03422343f75f9aeaa479326f
      X-Sfdc-Edge-Cache:
      - none
    body:
      encoding: ASCII-8BIT
      string: '{"zip":null,"yCoordinate":null,"xCoordinate":null,"workInSf":null,"whiteOther":null,"whichComponentOfLocatorWasUsed":null,"webAppID":null,"state":null,"sexualOrientationOther":null,"sexualOrientation":null,"sexAtBirth":null,"relationship":null,"raceEthnicity":null,"race":null,"primaryLanguage":null,"preferenceAddressMatch":null,"phoneTypeLastModified":null,"phoneType":null,"phoneLastModified":null,"phone":null,"pacificIslanderOther":null,"otherLanguage":null,"noPhone":null,"noEmail":null,"noAddress":null,"MLSId":null,"middleName":null,"menaOther":null,"MCCCertified":false,"mailingZip":null,"mailingState":null,"mailingCity":null,"mailingAddress":null,"lendingAgentStatus":null,"latinoOther":null,"lastName":"Supp
        app test","jobClassification":null,"isVeteran":null,"isSFUSDEmployee":null,"indigenousOther":null,"indigenousNativeAmericanGroup":null,"indigenousCentralSouthAmericaGroup":null,"hiv":null,"hasSameAddressAsApplicant":null,"hasDisability":null,"hasAltMailingAddress":null,"genderOther":null,"gender":null,"firstName":"Test","ethnicity":null,"emailLastModified":"2026-06-25T00:05:24.000Z","email":"eee@eeee.com","DOB":"1950-01-01","DALPCertified":false,"contactId":"003bb000019r4FvAAI","city":null,"candidateScore":null,"BMRCertified":false,"blackOther":null,"asianOther":null,"appMemberType":"Primary
        Applicant","appMemberId":null,"alternatePhoneTypeLastModified":null,"alternatePhoneType":null,"alternatePhoneLastModified":null,"alternatePhone":null,"alternateContactTypeOther":null,"alternateContactType":null,"agency":null,"address":null,"accountId":"001bb00001FyaQrAAJ","acceptingNewMOHCDClients":false}'
  recorded_at: Thu, 25 Jun 2026 00:05:28 GMT
[...]
- request:
    method: get
    uri: https://<<SALESFORCE_HOST>>/services/data/v<<SALESFORCE_API_VERSION>>/query?q=%0A%20%20%20%20%20%20%20%20%20%20SELECT%20Id,%20Name,%20Preference_Name__c,%20Person_who_claimed_Name__c,%20Type_of_proof__c,%20Veteran_Type_of_Proof__c,%20Opt_Out__c,%20Lottery_Status__c,%20Preference_Lottery_Rank__c,%20Listing_Preference_ID__c,%20Receives_Preference__c,%20Application_Member__c,%20Application_Member__r.First_Name__c,%20Application_Member__r.Last_Name__c,%20Application_Member__r.Date_of_Birth__c,%20Application_Member__r.Id,%20Individual_preference__c,%20Certificate_Number__c,%20Preference_Order__c,%20RecordType.DeveloperName,%20LW_Type_of_Proof__c,%20City__c,%20State__c,%20Street__c,%20Zip_Code__c,%20Post_Lottery_Validation__c,%20Total_Household_Rent__c,%20Custom_Preference_Type__c%0A%20%20%20%20%20%20%20%20%20%20FROM%20Application_Preference__c%0A%20%20%20%20%20%20%20%20%20%20WHERE%20Application__c%20=%20%27a0obb000002GYxRAAW%27%0A%20%20%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=15884/982000
      X-Sfdc-Request-Id:
      - f6d6cc3a5dc2c7deb7579382d4abecb8
      X-Sfdc-Edge-Cache:
      - none
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":6,"done":true,"records":[{"attributes":{"type":"Application_Preference__c","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Application_Preference__c/a0wbb00000ByWOTAA3"},"Id":"a0wbb00000ByWOTAA3","Name":"AP-0008802674","Preference_Name__c":"Certificate
        of Preference (COP)","Person_who_claimed_Name__c":null,"Type_of_proof__c":null,"Veteran_Type_of_Proof__c":null,"Opt_Out__c":false,"Lottery_Status__c":"Unconfirmed","Preference_Lottery_Rank__c":null,"Listing_Preference_ID__c":"a0l0P00001Lx8XKQAZ","Receives_Preference__c":false,"Application_Member__c":null,"Application_Member__r":null,"Individual_preference__c":null,"Certificate_Number__c":null,"Preference_Order__c":1.0,"RecordType":{"attributes":{"type":"RecordType","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/RecordType/0120P000000R7BHQA0"},"DeveloperName":"COP"},"LW_Type_of_Proof__c":null,"City__c":null,"State__c":null,"Street__c":null,"Zip_Code__c":null,"Post_Lottery_Validation__c":null,"Total_Household_Rent__c":0.0,"Custom_Preference_Type__c":"COP"},{"attributes":{"type":"Application_Preference__c","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Application_Preference__c/a0wbb00000ByWOUAA3"},"Id":"a0wbb00000ByWOUAA3","Name":"AP-0008802675","Preference_Name__c":"Displaced
        Tenant Housing Preference (DTHP)","Person_who_claimed_Name__c":null,"Type_of_proof__c":null,"Veteran_Type_of_Proof__c":null,"Opt_Out__c":false,"Lottery_Status__c":"Unconfirmed","Preference_Lottery_Rank__c":null,"Listing_Preference_ID__c":"a0l0P0000[...]
