/ for the "edit" view, we would also find + pass in @application,
/ include webpacked react-table CSS
== react_component 'ApplicationEditPage', { listing: @listing, application: @application, editPage: true, lendingInstitutions: @lending_institutions }
