p Click on a row to edit the values, and then click "Save Changes" to update the row.

/ include webpacked react-table CSS
== stylesheet_pack_tag 'react-table'
== react_component 'ApplicationsSpreadsheetPage', { results: @applications, fields: @fields }
