/ include webpacked react-table CSS
== stylesheet_pack_tag 'react-table'
== react_component 'FlaggedApplicationsIndexPage', props: { title: @title, flaggedRecords: @flagged_records, type: params[:type]}
