---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--full.cs97.my.salesforce.com","id":"https://test.salesforce.com/id/00D0U0000000Qf1UAE/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1537467864072","signature":"/nbjAA8EeSYyX8gUIcBxRlS5PgW3ZTmw/zOXGlQ0Muw="}'
  recorded_at: Thu, 20 Sep 2018 18:24:08 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs97.my.salesforce.com/services/data/v43.0/query?q=SELECT%20Id,%20Name,%20Listing__r.Name,%20Listing__r.Lottery_Date__c,%20Applicant__r.First_Name__c,%20Applicant__r.Last_Name__c,%20Application_Submitted_Date__c,%20Total_Household_Size__c,%20Application_Submission_Type__c%20FROM%20Application__c%20WHERE%20(Id%20!=%20null)%20AND%20(Status__c%20!=%20%27Draft%27)%20AND%20(Listing__r.Id%20=%20%27a0W0U000000MX4vUAG%27)%20LIMIT%20100%20OFFSET%200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D0U0000000Qf1m";
      Sforce-Limit-Info:
      - api-usage=2622/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":5,"done":true,"records":[{"attributes":{"type":"Application__c","url":"/services/data/v43.0/sobjects/Application__c/a0o0U000000VVw8QAG"},"Id":"a0o0U000000VVw8QAG","Name":"APP-00262254","Listing__r":{"attributes":{"type":"Listing__c","url":"/services/data/v43.0/sobjects/Listing__c/a0W0U000000MX4vUAG"},"Name":"LAP
        Test Listing (Do not Modify) - Yellow Acres","Lottery_Date__c":"2018-09-18T22:29:00.000+0000"},"Applicant__r":{"attributes":{"type":"Application_Member__c","url":"/services/data/v43.0/sobjects/Application_Member__c/a0n0U0000030tBrQAI"},"First_Name__c":"Lappy","Last_Name__c":"Laptest"},"Application_Submitted_Date__c":"2018-08-03","Total_Household_Size__c":3.0,"Application_Submission_Type__c":"Paper"},{"attributes":{"type":"Application__c","url":"/services/data/v43.0/sobjects/Application__c/a0o0U000000VVwNQAW"},"Id":"a0o0U000000VVwNQAW","Name":"APP-00262256","Listing__r":{"attributes":{"type":"Listing__c","url":"/services/data/v43.0/sobjects/Listing__c/a0W0U000000MX4vUAG"},"Name":"LAP
        Test Listing (Do not Modify) - Yellow Acres","Lottery_Date__c":"2018-09-18T22:29:00.000+0000"},"Applicant__r":{"attributes":{"type":"Application_Member__c","url":"/services/data/v43.0/sobjects/A[...]
- request:
    method: get
    uri: https://sfhousing--full.cs97.my.salesforce.com/services/data/v43.0/query?q=SELECT%20count()%20FROM%20Application__c%20WHERE%20(Id%20!=%20null)%20AND%20(Status__c%20!=%20%27Draft%27)%20AND%20(Listing__r.Id%20=%20%27a0W0U000000MX4vUAG%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D0U0000000Qf1m";
      Sforce-Limit-Info:
      - api-usage=2622/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":5,"done":true,"records":[]}'
  recorded_at: Thu, 20 Sep 2018 18:24:10 GMT
recorded_with: VCR 4.0.0
