---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--full.cs97.my.salesforce.com","id":"https://test.salesforce.com/id/00D0U0000000Qf1UAE/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1537910390114","signature":"nhIqPLGvR/gsS0UdhFtFHuCTgXaoAJaYOSAOwh3v/tw="}'
  recorded_at: Tue, 25 Sep 2018 21:19:50 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs97.my.salesforce.com/services/data/v43.0/query?q=SELECT%20Id,%20Name,%20Listing__r.Name,%20Listing__r.Lottery_Date__c,%20Applicant__r.First_Name__c,%20Applicant__r.Last_Name__c,%20Application_Submitted_Date__c,%20Total_Household_Size__c,%20Application_Submission_Type__c%20FROM%20Application__c%20WHERE%20(Id%20!=%20null)%20AND%20(Status__c%20!=%20%27Draft%27)%20AND%20(Listing__r.Id%20=%20%27%27a0W0U000000MX4vUAG%27%27)%20LIMIT%20100%20OFFSET%200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D0U0000000Qf1m";
      Sforce-Limit-Info:
      - api-usage=4201/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"\n''Draft'') AND (Listing__r.Id = ''''a0W0U000000MX4vUAG'''')
        LIMIT 100\n                               ^\nERROR at Row:1:Column:293\nunexpected
        token: ''a0W0U000000MX4vUAG''","errorCode":"MALFORMED_QUERY"}]'
  recorded_at: Tue, 25 Sep 2018 21:19:50 GMT
recorded_with: VCR 4.0.0
