---
http_interactions:
- request:
    method: get
    uri: "<<UNLEASH_URL>>client/features"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Unleash-Instanceid:
      - 71fa14a8-8d7f-4c58-becf-5379ce7b7ec3
      Unleash-Appname:
      - webapp
      Unleash-Client-Spec:
      - 6.0.1
      Unleash-Sdk:
      - unleash-ruby-sdk:6.6.0
      Authorization:
      - "<<ACCESS_TOKEN>>"
      Unleash-Connection-Id:
      - '0982e49f-21a3-4bba-afed-6befaa1a775f'
      Unleash-Interval:
      - '15'
      Content-Type:
      - application/json
      If-None-Match:
      - '"537b2ba0:1607"'
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Etag:
      - '"537b2ba0:1607"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 25 Jun 2026 16:58:32 GMT
- request:
    method: post
    uri: https://<<SALESFORCE_HOST>>/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Readonlymode:
      - 'false'
      X-Sfdc-Request-Id:
      - 408183d424eb635f9e216feffde49b56
      X-Sfdc-Edge-Cache:
      - none
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://<<SALESFORCE_HOST>>","id":"https://test.salesforce.com/id/00Dbb000002NqmLEAS/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1782406712135","signature":"gCmLylnNoLfaR6dZSedGOpNBYO3VjrKjlICodLTX+Gs="}'
  recorded_at: Thu, 25 Jun 2026 16:58:32 GMT
- request:
    method: get
    uri: https://<<SALESFORCE_HOST>>/services/data/v<<SALESFORCE_API_VERSION>>/query?q=%0A%20%20%20%20%20%20%20%20%20%20SELECT%20Listing__r.Id,%20Listing__r.Name,%20Listing__r.Status__c,%20Listing__r.Tenure__c,%20Listing__r.Lottery_Status__c%0A%20%20%20%20%20%20%20%20%20%20FROM%20Application__c%0A%20%20%20%20%20%20%20%20%20%20WHERE%20Id%20=%20%27a0o0P00000IWVdaQAH%27%0A%20%20%20%20%20%20%20%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=15776/982000
      X-Sfdc-Request-Id:
      - 1480724ad6209474ed70251aea755ec0
      X-Sfdc-Edge-Cache:
      - none
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Application__c","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Application__c/a0o0P00000IWVdaQAH"},"Listing__r":{"attributes":{"type":"Listing__c","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Listing__c/a0W0P00000GlKfBUAV"},"Id":"a0W0P00000GlKfBUAV","Name":"TEST
        Sale Listing (do not modify) - Homeownership Acres","Status__c":"Active","Tenure__c":"New
        sale","Lottery_Status__c":"Not Yet Run"}}]}'
  recorded_at: Thu, 25 Jun 2026 16:58:32 GMT
[...]
- request:
    method: get
    uri: https://<<SALESFORCE_HOST>>/services/apexrest/shortForm/a0o0P00000IWVdaQAH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sfdc-Request-Id:
      - a627d786ffeb35aef49521a408120ad3
      X-Sfdc-Edge-Cache:
      - none
    body:
      encoding: ASCII-8BIT
      string: '{"uploadURL":null,"totalMonthlyRent":null,"subStatus":null,"status":"Submitted","shortFormPreferences":[{"zip":null,"vetStatus":null,"vetPreferenceProof":null,"state":null,"shortformPreferenceID":"a0w0P00000PeaMfQAJ","requiresProof":false,"recordTypeDevName":"COP","preferenceProof":null,"postLotteryValidation":null,"optOut":false,"naturalKey":null,"lwPreferenceProof":null,"listingPreferenceID":"a0l0P00001PwyeZQAR","individualPreference":null,"customPreferenceType":"COP","city":null,"certificateNumber":null,"appMemberID":null,"applicationID":"a0o0P00000IWVdaQAH","address":null},{"zip":null,"vetStatus":null,"vetPreferenceProof":null,"state":null,"shortformPreferenceID":"a0w0P00000PeaMgQAJ","requiresProof":false,"recordTypeDevName":"DTHP","preferenceProof":null,"postLotteryValidation":null,"optOut":false,"naturalKey":null,"lwPreferenceProof":null,"listingPreferenceID":"a0l0P00001PwyeeQAB","individualPreference":null,"customPreferenceType":"DTHP","city":null,"certificateNumber":null,"appMemberID":null,"applicationID":"a0o0P00000IWVdaQAH","address":null},{"zip":null,"vetStatus":null,"vetPreferenceProof":null,"state":null,"shortformPreferenceID":"a0w0P00000PeaMhQAJ","requiresProof":false,"recordTypeDevName":"L_W","preferenceProof":null,"postLotteryValidation":null,"optOut":false,"naturalKey":null,"lwPreferenceProof":null,"listingPreferenceID":"a0l0P00001PwyejQAB","individualPreference":null,"customPreferenceType":"L_W","city":null,"certificateNumber":null,"appMemberID":null,"applicationID":"a0o0P00000IWVdaQAH","address":null}],"referral":null,"processingStatus":null,"processingComment":null,"primaryApplicant":{"zip":null,"yCoordinate":null,"xCoordinate":null,"workInSf":null,"whiteOther":null,"whichComponentOfLocatorWasUsed":null,"webAppID":null,"state":null,"sexualOrientationOther":null,"sexualOrientation":null,"sexAtBirth":null,"relationship":null,"raceEthnicity":null,"race":null,"primaryLanguage":null,"preferenceAddressMatch":null,"phoneTypeLastModified":null,"phoneType":null,"phoneLastModified":null,"phone":null,"pacificIslanderOther":null,"otherLanguage":null,"noPhone":false,"noEmail":false,"noAddress":false,"MLSId":null,"middleName":null,"menaOther":null,"MCCCertified":null,"mailingZip":null,"mailingState":null,"mailingCity":null,"mailingAddress":null,"lendingAgentStatus":null,"latinoOther":null,"lastName":"Mays","jobClassification":null,"isVeteran":null,"isSFUSDEmployee":null,"indigenousOther":null,"indigenousNativeAmericanGroup":null,"indigenousCentralSouthAmericaGroup":null,"hiv":false,"hasSameAddressAsApplicant":null,"hasDisability":null,"hasAltMailingAddress":false,"genderOther":null,"gender":null,"firstName":"Tiffany","ethnicity":null,"emailLastModified":null,"email":null,"DOB":"2000-01-01","DALPCertified":null,"contactId":"003bb00000OujGSAAZ","city":null,"candidateScore":null,"BMRCertified":null,"blackOther":null,"asianOther":null,"appMemberType":"Primary
        Applicant","appMemberId":"a0n0P00000DXQcMQAX","alternatePhoneTypeLastModified":null,"alternatePhoneType":null,"alternatePhoneLastModified":null,"alternatePhone":null,"alternateContactTypeOther":null,"alternateContactType":null,"agency":null,"address":null,"accountId":null,"acceptingNewMOHCDClients":null},"otherHousingCounselingAgency":null,"name":"APP-00370977","monthlyIncome":null,"lotteryNumberManual":null,"lotteryNumber":"00370977","listingID":"a0W0P00000GlKfBUAV","lendingAgent":"003bb00000OwVZUAA3","leaseupAppointmentSchedulingURL":null,"jobClassification":null,"isVeteranInHousehold":false,"isSFUSDEmployee":null,"isPrimaryApplicantVeteran":null,"isNonPrimaryMemberVeteran":null,"isFirstTimeHomebuyer":true,"inviteToApplyDeadlineDate":null,"id":"a0o0P00000IWVdaQAH","housingCounselingAgency":null,"householdVouchersSubsidies":null,"householdMembers":[],"homebuyerEducationAgency":null,"hasSenior":null,"hasPublicHousing":null,"hasMinimumCreditScore":false,"hasMilitaryService":null,"hasLoanPreapproval":true,"hasDisability":null,"hasDevelopmentalDisability":null,"hasCompletedHomebuyerEducation":true,"formMetadata":null,"externalSessionId":"","didApplicantUseHousingCounselingAgency":"No","appRTType":"Rental_Short_Form","applicationSubmittedDate":"2019-04-17","applicationSubmissionType":"Paper","applicationLanguage":"English","answeredCommunityScreening":null,"annualIncome":null,"alternateContact":null,"agreeToTerms":false,"adaPrioritiesSelected":null}'
  recorded_at: Thu, 25 Jun 2026 16:58:33 GMT
[...]
- request:
    method: get
    uri: https://<<SALESFORCE_HOST>>/services/apexrest/Person/003bb00000OujGSAAZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sfdc-Request-Id:
      - 052b51e0ead5389d609de6dafc6f2893
      X-Sfdc-Edge-Cache:
      - none
    body:
      encoding: ASCII-8BIT
    [...]
[...]
- request:
    method: get
    uri: https://<<SALESFORCE_HOST>>/services/data/v<<SALESFORCE_API_VERSION>>/query?q=%0A%20%20%20%20%20%20%20%20%20%20SELECT%20Id,%20Name,%20Preference_Name__c,%20Person_who_claimed_Name__c,%20Type_of_proof__c,%20Veteran_Type_of_Proof__c,%20Opt_Out__c,%20Lottery_Status__c,%20Preference_Lottery_Rank__c,%20Listing_Preference_ID__c,%20Receives_Preference__c,%20Application_Member__c,%20Application_Member__r.First_Name__c,%20Application_Member__r.Last_Name__c,%20Applicati[...]
[...]
- request:
    method: get
    uri: https://<<SALESFORCE_HOST>>/services/apexrest/agents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sfdc-Request-Id:
      - ef90ae8989d009a7401e48fe0951e848
      X-Sfdc-Edge-Cache:
      - none
    body:
      encoding: ASCII-8BIT
      string: '[{"attributes":{"type":"Account","url":"/services/data/v62.0/sobjects/Account/0010P00001lSyoUQAS"},"Name":"Butler,
        Summers and Mccarty","Id":"0010P00001lSyoUQAS","RecordTypeId":"0120P000000NLgVQAW"},{"attributes":{"type":"Account","url":"/services/data/v62.0/sobjects/Account/0010P00001lv96zQAA"},"Name":"Cameron-Sandoval","Id":"0010P00001lv96zQAA","RecordTypeId":"0120P000000NLgVQAW","Contacts":{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v62.0/sobjects/Contact/003bb00000OulczAAB"},"AccountId":"0010P00001lv96zQAA","Id":"003bb00000OulczAAB","FirstName":"Helen","LastName":"Mclaughlin","Email":"mmata8061@example.org","BMR_Certified__c":false,"DALP_Certified__c":false,"MCC_Certified__c":false,"Accepting_New_MOHCD_Clients__c":false,"RecordTypeId":"0120P000000NLgaQAG"},{"attributes":{"type":"Contact","url":"/services/data/v62.0/sobjects/Contact/003bb00000OvnaOAAR"},"AccountId":"0010P00001lv96zQAA","Id":"003bb00000OvnaOAAR","FirstName":"Jennifer","LastName":"Burke","Email":"greghutchinson1689@example.org","Phone":"+1-837-511-4246x91664","Lending_Agent_Status__c":"Active","NMLS__c":"693551","BMR_Certified__c":false,"DALP_Certified__c":false,"MCC_Certified__c":false,"Accepting_New_MOHCD_Clients__c":false,"RecordTypeId":"0120P000000NLgaQAG"}]}},{"attributes":{"type":"Account","url":"/services/data/v62.0/sobjects/Account/0010P00001mM1HcQAK"},"Name":"Gould
        Group","Id":"0010P00001mM1HcQAK","RecordTypeId":"0120P000000NLgVQAW"},{"attributes":{"type":"Account","url":"/services/data/v62.0/sobjects/Account/0010P00001ns0GMQAY"},"Name":"Rhodes
        PLC","Id":"0010P00001ns0G[...]
[...]
- request:
    method: get
    uri: https://<<SALESFORCE_HOST>>/services/data/v<<SALESFORCE_API_VERSION>>/query?q=%0A%20%20%20%20%20%20%20%20%20%20SELECT%20Id,%20Document_Type__c,%20Related_Application__c,%20Related_Application_Preference__c%0A%20%20%20%20%20%20%20%20%20%20FROM%20Attachment__c%0A%20%20%20%20%20%20%20%20%20%20WHERE%20Related_Application__c%20=%20%27a0o0P00000IWVdaQAH%27%0A%20%20%20%20%20%20%20%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=15777/982000
      X-Sfdc-Request-Id:
      - 2484ad936c8fc08c6fed534277741c81
      X-Sfdc-Edge-Cache:
      - none
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Thu, 25 Jun 2026 16:58:38 GMT
[...]
- request:
    method: get
    uri: https://<<SALESFORCE_HOST>>/services/data/v<<SALESFORCE_API_VERSION>>/query?q=%0A%20%20%20%20%20%20%20%20SELECT%20Flagged_Record_Set__c,%20Flagged_Record_Set__r.Id,%20Flagged_Record_Set__r.Rule_Name__c,%20Flagged_Record_Set__r.Total_Number_of_Pending_Review__c%0A%20%20%20%20%20%20%20%20FROM%20Flagged_Application__c%0A%20%20%20%20%20%20%20%20WHERE%20Application__c%20%20=%20%27a0o0P00000IWVdaQAH%27%0A%20%20%20%20%20%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=15778/982000
      X-Sfdc-Request-Id:
      - fbee4d12010079fcd5986c8c6ab3b4f6
      X-Sfdc-Edge-Cache:
      - none
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Flagged_Application__c","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Flagged_Application__c/a0q0P00000ONQjZQAX"},"Flagged_Record_Set__c":"a0r0P00002WUNWsQAP","Flagged_Record_Set__r":{"attributes":{"type":"Flagged_Record_Set__c","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Flagged_Record_Set__c/a0r0P00002WUNWsQAP"},"Id":"a0r0P00002WUNWsQAP","Rule_Name__c":"Name
        + DOB","Total_Number_of_Pending_Review__c":117.0}}]}'
  recorded_at: Thu, 25 Jun 2026 16:58:39 GMT
[...]
