---
http_interactions:
- request:
    method: post
    uri: https://<<SALESFORCE_HOST>>/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"<<SALESFORCE_INSTANCE_URL>>","id":"https://<<SALESFORCE_HOST>>/id/00D1D0000009nrYUAQ/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1583438585443","signature":"ORfLsgonsU1kO+BTcdupVefVoxemaWt9McG1PkSycT4="}'
  recorded_at: Thu, 05 Mar 2020 20:03:05 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs68.my.salesforce.com/services/data/v<<SALESFORCE_API_VERSION>>/query?q=%0A%20%20%20%20%20%20%20%20%20%20SELECT%20Id,%20Name,%20Lottery_Date__c,%20Lottery_Results_Date__c,%20In_Lottery__c,%20Units_Available__c,%20Lease_Signed_Application__c,%20LastModifiedDate%0A%20%20%20%20%20%20%20%20%20%20FROM%20Listing__c%0A%20%20%20%20%20%20%20%20%20%20WHERE%20Status__c%20=%20%27Lease%20Up%27%20AND%20Is_Applicant_List_for_Leaseup__c%20=%20FALSE%0A%20%20%20%20%20%20%20%20%20%20ORDER%20BY%20Name%0A%20%20%20%20%20%20%20%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00D1D0000009nrYm";
      Sforce-Limit-Info:
      - api-usage=17452/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":5,"done":true,"records":[{"attributes":{"type":"Listing__c","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Listing__c/a0W0P00000HIBKFUA5"},"Id":"a0W0P00000HIBKFUA5","Name":"450
        Folsom","Lottery_Date__c":"2018-12-04T23:30:00.000+0000","Lottery_Results_Date__c":"2018-12-11","In_Lottery__c":5242.0,"Units_Available__c":70.0,"Lease_Signed_Application__c":0.0,"LastModifiedDate":"2020-02-04T20:45:30.000+0000"},{"attributes":{"type":"Listing__c","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Listing__c/a0W0P00000HRCBFUA5"},"Id":"a0W0P00000HRCBFUA5","Name":"LAP
        Training Listing (do not modify) - Pink Acres","Lottery_Date__c":"2019-01-11T00:27:00.000+0000","Lottery_Results_Date__c":"2019-06-05","In_Lottery__c":2.0,"Units_Available__c":1.0,"Lease_Signed_Application__c":0.0,"LastModifiedDate":"2020-01-22T23:50:35.000+0000"},{"attributes":{"type":"Listing_[...]
