---
http_interactions:
- request:
    method: post
    uri: https://<<SALESFORCE_HOST>>/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--Full.cs68.my.salesforce.com","id":"https://<<SALESFORCE_HOST>>/id/00D1D0000009nrYUAQ/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1591038846364","signature":"FAxuS54lhlrGxS5Om9CSAYv9lLYDxITNkfL/DgXJKXY="}'
  recorded_at: Mon, 01 Jun 2020 19:14:06 GMT
- request:
    method: get
    uri: "<<SALESFORCE_INSTANCE_URL>>/services/data/v<<SALESFORCE_API_VERSION>>/query?q=%0A%20%20%20%20%20%20%20%20SELECT%20Id,%20Application__c,%20Application__r.Id,%20Application__r.Name,%20Flagged_Record_Set__r.Rule_Name__c,%20Primary_Application_Applicant_Name__c,%20Flagged_Record_Set__r.Listing__r.Lottery_Status__c,%20Review_Status__c,%20Comments__c%0A%20%20%20%20%20%20%20%20FROM%20Flagged_Application__c%0A%20%20%20%20%20%20%20%20WHERE%20Flagged_Record_Set__c=%27a0r1D000000kMHgQAM%27%0A%20%20%20%20%20%20"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00D1D0000009nrYm";
      Sforce-Limit-Info:
      - api-usage=6706/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":200,"done":true,"records":[{"attributes":{"type":"Flagged_Application__c","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Flagged_Application__c/a0q1D000000msKwQAI"},"Id":"a0q1D000000msKwQAI","Application__c":"a0o1D000001JLrkQAG","Application__r":{"attributes":{"type":"Application__c","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Application__c/a0o1D000001JLrkQAG"},"Id":"a0o1D000001JLrkQAG","Name":"APP-00481308"},"Flagged_Record_Set__r":{"attributes":{"type":"Flagged_Record_Set__c","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Flagged_Record_Set__c/a0r1D000000kMHgQAM"},"Rule_Name__c":"Name
        + DOB","Listing__r":{"attributes":{"type":"Listing__c","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Listing__c/a0W0P00000F8YG4UAN"},"Lottery_Status__c":"Not
        Yet Run"}},"Primary_Application_Applicant_Name__c":"Test 350 flag very Many","Review_Status__c":"Pending
        Review","Comments__c":null},{"attributes":{"type":"Flagged_Application__c","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Flagged_Application__c/a0q1D000000msKxQAI"},"Id":"a0q1D000000msKxQAI","Application__c":"a0o1D000001JLrQQAW","Application__r":{"attributes":{"type":"Application__c","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Application__c/a0o1D000001JLrQQAW"},"Id":"a0o1D000001JLrQQAW","Name":"APP-00481304"},"Flagged_Record_Set__r":{"attributes":{"type":"Flagged_Record_Set__c","url":"/se[...]
