---
http_interactions:
- request:
    method: post
    uri: "<<DAHLIA_API_URL>>/api/v1/message"
    body:
      encoding: UTF-8
      string: '{"action":"INVITE","data":{"applicationIds":["a0W0P00000GbyuXXXX"],"isTestEmail":false}}'
    headers:
      X-Api-Key:
      - "<<DAHLIA_API_KEY>>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"612-W1wsshl4cwfcewOEPJrOY9SfOU8"
    body:
      encoding: UTF-8
      string: '{"status":"FAILED","requestId":"22f0c6ca-40f4-27f7-131e-02f7bd9188eb","data":{"message":"Request
        failed with status code 400","stack":"AxiosError: Request failed with status
        code 400\n    at settle (/app/node_modules/axios/lib/core/settle.js:19:12)\n    at
        IncomingMessage.handleStreamEnd (/app/node_modules/axios/lib/adapters/http.js:793:11)\n    at
        IncomingMessage.emit (node:events:531:35)\n    at AsyncLocalStorage.run (node:internal/async_local_storage/async_hooks:91:14)\n    at
        AsyncLocalContextManager.runInContext (/app/node_modules/newrelic/lib/context-manager/async-local-context-manager.js:60:38)\n    at
        IncomingMessage.wrapped (/app/node_modules/newrelic/lib/transaction/tracer/index.js:270:37)\n    at
        IncomingMessage.wrappedResponseEmit (/app/node_modules/newrelic/lib/instrumentation/core/http-outbound.js:369:24)\n    at
        endReadableNT (node:internal/streams/readable:1698:12)\n    at process.processTicksAndRejections
        (node:internal/process/task_queues:89:21)\n    at Axios.request (/app/node_modules/axios/lib/core/Axios.js:45:41)\n    at
        process.processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at
        async SalesforceService.getApplicationDetails (/app/src/messages/salesforce.service.ts:119:22)\n    at
        async Promise.all (index 0)\n    at async OutreachController.buildDTOFromApplicationIds
        (/app/src/messages/outreach.controller.ts:85:24)\n    at async <anonymous>
        (/app/src/messages/outreach.controller.ts:62:11)\n    at async OutreachController.handleServiceCall
        (/app/src/messages/base.controller.ts:15:7)"}}'
  recorded_at: Wed, 15 Apr 2026 16:36:24 GMT
recorded_with: VCR 6.4.0
