---
http_interactions:
- request:
    method: post
    uri: "<<DAHLIA_API_URL>>/api/v1/message"
    body:
      encoding: UTF-8
      string: '{"action":"INVITE","data":{"applicationIds":["a0o0P00000GZazOQAT"],"isTestEmail":false}}'
    headers:
      X-Api-Key:
      - "<<DAHLIA_API_KEY>>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"47-QuWWSKxhdLK5CSZfpXTpersccO8"
    body:
      encoding: UTF-8
      string: '{"status":"SUCCESS","requestId":"5682d670-d3eb-b39a-f977-de2f9b377e57"}'
  recorded_at: Wed, 15 Apr 2026 16:36:22 GMT
recorded_with: VCR 6.4.0
