---
http_interactions:
- request:
    method: post
    uri: "<<DAHLIA_API_URL>>/api/v1/message"
    body:
      encoding: UTF-8
      string: '{"action":"INVITE","data":{"applicationIds":["a0o0P00000GZazOQAT"],"isTestEmail":true}}'
    headers:
      X-Api-Key:
      - "<<DAHLIA_API_KEY>>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"47-qbfLOEnuegD8kW/8Y4ksqqgUhao"
    body:
      encoding: UTF-8
      string: '{"status":"SUCCESS","requestId":"036d1589-0b2e-ca4b-62b2-10689da83bac"}'
  recorded_at: Wed, 15 Apr 2026 16:36:23 GMT
recorded_with: VCR 6.4.0
