== render 'listings/listing_details_nav'

/ include webpacked react-table CSS
== stylesheet_pack_tag 'react-table'
== react_component 'ListingApplicationsPage', { listing: @listing, results: @applications, fields: @fields }
