/ for the "edit" view, we would also find + pass in @application,
/ include webpacked react-table CSS
== react_component 'ApplicationNewPage', props: { listing: @listing, lendingInstitutions: @lending_institutions }
