---
http_interactions:
- request:
    method: post
    uri: https://<<SALESFORCE_HOST>>/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 307
      message: Temporary Redirect
    headers:
      Location:
      - https://sfhousing--full.sandbox.my.salesforce.com/services/oauth2/token
    body:
      encoding: UTF-8
      string: "The URL has moved <a href=\"https://sfhousing--full.sandbox.my.salesforce.com/services/oauth2/token\">here</a>\r\n"
  recorded_at: Thu, 30 Nov 2023 23:17:19 GMT
- request:
    method: post
    uri: https://sfhousing--full.sandbox.my.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--full.sandbox.my.salesforce.com","id":"https://test.salesforce.com/id/00D8H0000004dNlUAI/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1701386239700","signature":"gWqN+9FtNqYz035mg/8MevssZRSBm0NNN6R3PbxQhV4="}'
  recorded_at: Thu, 30 Nov 2023 23:17:19 GMT
- request:
    method: get
    uri: https://<<SALESFORCE_HOST>>/services/data/v<<SALESFORCE_API_VERSION>>/query?q=SELECT%20Application__c,%20Application__r.Name,%20Listing_ID__c,%20Application__r.Id,%20Application__r.General_Lottery__c,%20Application__r.General_Lottery_Rank__c,%20Application__r.Applicant__r.First_Name__c,%20Application__r.Applicant__r.Last_Name__c,%20Application__r.Applicant__r.Residence_Address__c,%20Application__r.Applicant__r.Mailing_Address__c,%20Application__r.Has_ADA_Priorities_Selected__c,%20Application__r.Total_Household_Size__c,%20Preference_Order__c,%20Receives_Preferenc[...]
- request:
    method: get
    uri: https://sfhousing--full.sandbox.my.salesforce.com/services/data/v<<SALESFORCE_API_VERSION>>/query?q=SELECT%20Application__c,%20Application__r.Name,%20Listing_ID__c,%20Application__r.Id,%20Application__r.General_Lottery__c,%20Application__r.General_Lottery_Rank__c,%20Application__r.Applicant__r.First_Name__c,%20Application__r.Applicant__r.Last_Name__c,%20Application__r.Applicant__r.Residence_Address__c,%20Application__r.Applicant__r.Mailing_Address__c,%20Applic[...]
- request:
    method: get
    uri: https://<<SALESFORCE_HOST>>/services/data/v<<SALESFORCE_API_VERSION>>/query?q=SELECT%20count()%20FROM%20Application_Preference__c%20WHERE%20(%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20Listing_ID__c%20=%20%27a0W0P00000GbyuQ%27%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20and%20((Preference_Lottery_Rank__c%20!=%20null%20and%20Receives_Preference__c%20=%20true)%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20or%20(Preference_Name__c%20=%20%27Live%20or%20Work%20in%20San%20Francisco%20Preference%27%20and%20Application__r.General_Lottery_Rank__c%20!=%20null))%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20and%20Application__c%20IN%20(SELECT%20id%20FROM%20Application__c)%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://sfhousing--full.sandbox.my.salesforce.com/services/data/v<<SALESFORCE_API_VERSION>>/query?q=SELECT+count%28%29+FROM+Application_Preference__c+WHERE+%28++++++++++++++++Listing_ID__c+%3D+%27a0W0P00000GbyuQ%27++++++++++++++++++++++++++++++++++++++++++++++++and+%28%28Preference_Lottery_Rank__c+%21%3D+null+and+Receives_Preference__c+%3D+true%29++++++++++++++++or+%28Preference_Name__c+%3D+%27Live+or+Work+in+San+Francisco+Preference%27+and+Application__r.General_Lottery_Rank__c+%21%3D+null%29%29++++++++++++++++and+Application__c+IN+%28SELECT+id+FROM+Application__c%29++++++++++++++%29
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 30 Nov 2023 23:17:21 GMT
- request:
    method: get
    uri: https://sfhousing--full.sandbox.my.salesforce.com/services/data/v<<SALESFORCE_API_VERSION>>/query?q=SELECT%20count()%20FROM%20Application_Preference__c%20WHERE%20(%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20Listing_ID__c%20=%20%27a0W0P00000GbyuQ%27%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20and%20((Preference_Lottery_Rank__c%20!=%20null%20and%20Receives_Preference__c%20=%20true)%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20or%20(Preference_Name__c%20=%20%27Live%20or%20Work%20in%20San%20Francisco%20Preference%27%20and%20Application__r.General_Lottery_Rank__c%20!=%20null))%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20and%20Application__c%20IN%20(SELECT%20id%20FROM%20Application__c)%20%20%20%20%20%20%20%20%20%20%20%20%20%20)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=10198/810000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":43,"done":true,"records":[]}'
  recorded_at: Thu, 30 Nov 2023 23:17:21 GMT
recorded_with: VCR 6.1.0
