---
http_interactions:
- request:
    method: post
    uri: https://<<SALESFORCE_HOST>>/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--Full.cs68.my.salesforce.com","id":"https://<<SALESFORCE_HOST>>/id/00D1D0000009nrYUAQ/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1572642481612","signature":"hZ+c4uzIItu3m3pPDJqvKjhU0RdsIZtkavL29AZ068Y="}'
  recorded_at: Fri, 01 Nov 2019 21:08:01 GMT
- request:
    method: get
    uri: "<<SALESFORCE_INSTANCE_URL>>/services/data/v<<SALESFORCE_API_VERSION>>/query?q=SELECT%20Application__c,%20Application__r.Id,%20Application__r.Name,%20Application__r.Applicant__r.First_Name__c,%20Application__r.Applicant__r.Last_Name__c,%20Application__r.Applicant__r.Email__c,%20Application__r.Applicant__r.Phone__c,%20Application__r.Applicant__r.Residence_Address__c,%20Application__r.Applicant__r.Mailing_Address__c,%20Preference_Order__c,%20Post_Lottery_Validation__c,%20Preference_Lottery_Rank__c,%20Receives_Preference__c,%20Application__r.Processing_Status__c,%20LastModifiedDate,%20Listing_Preference_ID__r.Record_Type_For_App_Preferences__c%20FROM%20Application_Preference__c%20WHERE%20(Listing_Preference_ID__c%20IN%20(SELECT%20Id%20FROM%20Listing_Lottery_Preference__c%20WHERE%20(Listing__c%20=%20%27a0W0P00000GbyuQ%27)))%20AND%20(Preference_Lottery_Rank__c%20!=%20NULL)%20AND%20(Receives_Preference__c%20=%20true)%20ORDER%20BY%20Preference_Order__c,%20Preference_Lottery_Rank__c%20LIMIT%20100%20OFFSET%200"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00D1D0000009nrYm";
      Sforce-Limit-Info:
      - api-usage=4984/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":31,"done":true,"records":[{"attributes":{"type":"Application_Preference__c","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Application_Preference__c/a0w0P00000OUJceQAH"},"Application__c":"a0o0P00000GZazsQAD","Application__r":{"attributes":{"type":"Application__c","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Application__c/a0o0P00000GZazsQAD"},"Id":"a0o0P00000GZazsQAD","Name":"APP-00243703","Applicant__r":{"attributes":{"type":"Application_Member__c","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Application_Member__c/a0n0P00000D3qJPQAZ"},"First_Name__c":"Portia","Last_Name__c":"Toole","Email__c":null,"Phone__c":"4155559312","Residence_Address__c":"1
        S VAN NESS AVE, SAN FRANCISCO, CA, 94103-1267","Mailing_Address__c":"1 S VAN
        NESS AVE, SAN FRANCISCO, CA, 94103-1267"},"Processing_Status__c":"Withdrawn"},"Preference_Order__c":1.0,"Post_Lottery_Validation__c":"Confirmed","Preference_Lottery_Rank__c":1.0,"Receives_Preference__c":true,"LastModifiedDate":"2019-10-21T16:49:14.000+0000","Listing_Preference_ID__r":{"attributes":{"type":"Listing_Lottery_Preference__c","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Listing_Lottery_Preference__c/a0l0P00001Q1vxUQAR"},"Record_Type_For_App_Preferences__c":"COP"}},{"attributes":{"type":"Application_Preference__c","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Application_Preference__c/a0w0P00000PAEE3QAP"},"Application__c":"a0o0P00000IvMoaQAF","Application__r":{"attributes":{"type":"Application__c","url":"/services/data/v<<SALESFORCE_API_VERSION>>/sobjects/Application__c/a0o0P00000IvMoaQAF"},"Id":"a0o0P00000IvMoaQAF","Name":"APP-00302547","Applicant__r":{"attributes":{"type":"Application_Member__c","url":"/services/data/v<<SALESFORCE_AP[...]
- request:
    method: get
    uri: "<<SALESFORCE_INSTANCE_URL>>/services/data/v<<SALESFORCE_API_VERSION>>/query?q=SELECT%20count()%20FROM%20Application_Preference__c%20WHERE%20(Listing_Preference_ID__c%20IN%20(SELECT%20Id%20FROM%20Listing_Lottery_Preference__c%20WHERE%20(Listing__c%20=%20%27a0W0P00000GbyuQ%27)))%20AND%20(Preference_Lottery_Rank__c%20!=%20NULL)%20AND%20(Receives_Preference__c%20=%20true)"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00D1D0000009nrYm";
      Sforce-Limit-Info:
      - api-usage=4983/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":31,"done":true,"records":[]}'
  recorded_at: Fri, 01 Nov 2019 21:08:02 GMT
[...]
- request:
    method: get
    uri: "<<SALESFORCE_INSTANCE_URL>>/services/data/v<<SALESFORCE_API_VERSION>>/query?q=%0A%20%20%20%20%20%20%20%20%20%20SELECT%20MAX(Processing_Date_Updated__c)%20Status_Last_Updated,%20Application__c%0A%20%20%20%20%20%20%20%20%20%20FROM%20Field_Update_Comment__c%0A%20%20%20%20%20%20%20%20%20%20WHERE%20Application__c%20IN%20(%27a0o0P00000GZazsQAD%27,%20%27a0o0P00000IvMoaQAF%27,%20%27a0o0P00000IvWgcQAF%27,%20%27a0o0P00000Isnf4QAB%27,%20%27a0o0P00000IvWgXQAV%27,%20%27a0[...]
