---
http_interactions:
- request:
    method: post
    uri: https://<<SALESFORCE_HOST>>/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--Full.cs68.my.salesforce.com","id":"https://<<SALESFORCE_HOST>>/id/00D1D0000009nrYUAQ/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1582650933548","signature":"NMPF+LhMArtQiAN5XBN4PfSFG+vVfEZdmaf+cJtU7e4="}'
  recorded_at: Tue, 25 Feb 2020 17:15:33 GMT
- request:
    method: get
    uri: "<<SALESFORCE_INSTANCE_URL>>/services/data/v<<SALESFORCE_API_VERSION>>/query?q=SELECT%20Application__c,%20Application__r.Name,%20Listing_ID__c,%20Application__r.Id,%20Application__r.General_Lottery__c,%20Application__r.General_Lottery_Rank__c,%20Application__r.Applicant__r.First_Name__c,%20Application__r.Applicant__r.Last_Name__c,%20Application__r.Applicant__r.Email__c,%20Application__r.Applicant__r.Phone__c,%20Application__r.Applicant__r.Residence_Address__c,%20Application__r.Applicant__r.Mailing_Address__c,%20Application__r.Has_ADA_Priorities_Selected__c,%20Pre[...]
- request:
    method: get
    uri: "<<SALESFORCE_INSTANCE_URL>>/services/data/v<<SALESFORCE_API_VERSION>>/query?q=SELECT%20count()%20FROM%20Application_Preference__c%20WHERE%20(%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20Listing_ID__c%20=%20%27a0W0P00000GbyuQ%27%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20and%20((Preference_Lottery_Rank__c%20!=%20null%20and%20Receives_Preference__c%20=%20true)%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20or%20(Preference_Name__c%20=%20%27Live%20or%20Work%20in%20San%20Francisco%20Preference%27%20and%20Application__r.General_Lottery_Rank__c%20!=%20null))%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20and%20Application__c%20IN%20(SELECT%20id%20FROM%20Application__c)%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20)"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00D1D0000009nrYm";
      Sforce-Limit-Info:
      - api-usage=7217/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":45,"done":true,"records":[]}'
  recorded_at: Tue, 25 Feb 2020 17:15:35 GMT
[...]
- request:
    method: get
    uri: "<<SALESFORCE_INSTANCE_URL>>/services/data/v<<SALESFORCE_API_VERSION>>/query?q=%0A%20%20%20%20%20%20%20%20%20%20SELECT%20MAX(Processing_Date_Updated__c)%20Status_Last_Updated,%20Application__c%0A%20%20%20%20%20%20%20%20%20%20FROM%20Field_Update_Comment__c%0A%20%20%20%20%20%20%20%20%20%20WHERE%20Application__c%20IN%20(%27a0o0P00000GZazsQAD%27,%20%27a0o0P00000IvMoaQAF%27,%20%27a0o0P00000IvWgcQAF%27,%20%27a0o0P00000Isnf4QAB%27,%20%27a0o0P00000IvWgXQAV%27,%20%27a0[...]
