/*
 * - Toolkit is included from DAHLIA even though we're really only using
 * a small amount of the style (fonts, navbar, etc.)
 * - LAP includes some leasing agent portal styles and overrides.
 * - note: react-table.css default style is included via webpack in application.html
 *
 *= require toolkit
 *= require lap
 *= require popover
 *= require multi-select
 *= require pattern-library
 *= require_self
 */

 // TODO: This style is to temporarily make the application page tabs
 // look more like the supp app page tabs. We have an upcoming story
 // to restyle the whole application page to match the supp app page.
 // Remove this style when that story is complete.
.application-details > .content-card:first-child {
  border-top: 0;
}

// TODO: move these styles into the PL - we have an upcoming story to do this
.ReactModal__Overlay {
  z-index: 1000;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

@media(max-width:600px) {
  .ReactModal__Content {
    width: 90% !important;
  }
}

.ReactModal__Content {
  .dropdown {
    position: relative;
  }
}

.form-modal_form_wrapper {
  position: relative;

  .form-modal_loading {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    .loading {
      height: 100%;
    }
  }
}

.form-modal_dropdown-menu {
  max-width: none;
}

.dropdown-menu-bottom {
  max-width: none;
  top: auto !important;
}

.dropdown-inline {
  display: inline-block;
  position: relative;
}

.tr-expand-content[aria-hidden='true'] {
  display: none;
}
