// modifications to toolkit styles
.top-bar {
  .name-logo a {
    background: asset-url('logo.svg') no-repeat;
    background-size: contain;
  }
}

.segmented-radios {
  padding: 0 1rem 1rem;
  li {
    a.button,
    button {
      margin: 0;
      border: 2px solid #0077da;
      border-radius: 0;
      box-shadow: none;
      border-right: 0;
      &:hover, &:focus {
        background-color: #0077da;
        color: #fff;
      }
    }

    &:first-of-type {
      a.button,
      button {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }

    &:last-of-type {
      a.button,
      button {
        border-right: 2px solid #0077da;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}

.content-grid {
  .content-card p {
    word-wrap: break-word;
  }
}

.td-bold {
  font-weight: bold !important;
}


.rt-th.text-right {
  .rt-resizable-header-content {
    width: 100%;
  }
}

.button-pager button {
  min-width: 12rem;
}

.form-group-year, .form-group-month, .form-group-day {
  margin-right: .3rem;
}

.substatus {
  text-transform: none;
  letter-spacing: 0;
  font-size: 0.85rem;
  font-weight: normal !important;
  color: rgba(0, 0, 0, 0.75);
  background-color: #f9f9f9;
  border-color: #ccc;
  &:hover, &:active, &:focus {
    color: rgba(0, 0, 0, 0.75);
    background-color: #f9f9f9;
    border-color: #ccc;
    span svg use {
      fill: rgba(0, 0, 0, 0.75);
      background-color: #f9f9f9;
      border-color: #ccc;
    }
  }
  span svg use {
    fill: rgba(0, 0, 0, 0.75);
    background-color: #f9f9f9;
    border-color: #ccc;
  }
}

.button.has-icon--right {
  padding-left: 1rem;
}

// // Switch tabs to full width buttons at small screens
// .stretch-to-fill-medium-down {
//   // @media not #{$large-up} {
//     button {
//       // @include a-center;
//       display: block;
//       margin: 0 auto;
//       width: 100%;
//     }
//     &.active button {
//       background: 'white';
//     }
//     .tab-title {
//       width: 50%;
//     }
//   // }
// }
// .tab-title {
//   &.active > button {
//     background: white;
//   }
// }