// modifications to toolkit styles
.top-bar {
  .name-logo a {
    background: asset-url('logo.svg') no-repeat;
    background-size: contain;
  }
}

.segmented-radios {
  padding: 0 1rem 1rem;
  li {
    a.button,
    button {
      margin: 0;
      border: 2px solid #0077da;
      border-radius: 0;
      box-shadow: none;
      border-right: 0;
      &:hover, &:focus {
        background-color: #0077da;
        color: #fff;
      }
    }

    &:first-of-type {
      a.button,
      button {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }

    &:last-of-type {
      a.button,
      button {
        border-right: 2px solid #0077da;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}

.content-grid {
  .content-card p {
    word-wrap: break-word;
  }
}

.td-bold {
  font-weight: bold !important;
}


.rt-th.text-right {
  .rt-resizable-header-content {
    width: 100%;
  }
}

.button-pager button {
  min-width: 12rem;
}

.form-group-year, .form-group-month, .form-group-day {
  margin-right: .3rem;
}

.substatus {
  text-transform: none;
  letter-spacing: 0;
  font-size: 0.85rem;
  font-weight: normal !important;
  color: rgba(0, 0, 0, 0.75);
  background-color: #f9f9f9;
  border-color: #ccc;
  &:hover, &:active, &:focus {
    color: rgba(0, 0, 0, 0.75);
    background-color: #f9f9f9;
    border-color: #ccc;
    span svg use {
      fill: rgba(0, 0, 0, 0.75);
      background-color: #f9f9f9;
      border-color: #ccc;
    }
  }
  span svg use {
    fill: rgba(0, 0, 0, 0.75);
    background-color: #f9f9f9;
    border-color: #ccc;
  }
}

.button.has-icon--right {
  padding-left: 1rem;
}

// Override default bullet point style from pattern lib
ul.bullet-list {
  li {
    list-style: disc;
    margin-bottom: 0rem;
  }
}

.non-veteran-panel {
  padding-top: 2rem
}

.info-alert {
  line-height: 1.375;
  margin-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem; }
  .info-alert.no-icon .info-body {
    padding-left: 0; }
  .info-alert.no-close {
    padding-right: 1rem; }
    .info-alert.no-close .close {
      display: none; }
  .info-alert-inner {
    overflow: hidden;
    height: 100%;
    background-color: #f9f9f9;
    border: 0.125rem solid #efefef;
  }
  .info-alert-inner .close {
    float: right;
    top: 1.4rem;
    line-height: .9rem;
    font-size: 2rem;
    color: #222;
    padding-right: 1.125rem }
    .info-alert-inner .close.text {
      color: inherit;
      font-size: 0.75rem;
      opacity: 1;
      text-decoration: underline;
      text-transform: capitalize;
      margin-top: -.5rem; }

.info-alert-icon {
  position: relative;
  width: 25%;
  top: 1.4rem;
  left: 1rem; }

.info-alert-body {
  width: 70%;
  padding-left: 3rem;}

.success-alert {
  padding-left: 0;
  padding-right: 0;
}
.success-alert .info-alert-inner {
  background-color: #B4E5BE
}
.success-alert .info-alert-inner .info-alert-body {
  width: 90%;
}

.primary-alert .info-alert-inner {
  border: 2px solid #DAEEFF;
  background-color: #F5F8F9;
  border-radius: 4px;
  .info-alert-body {
    width: 90%;
  }
}

.i2a-selected-apps-table thead, .i2a-selected-apps-table tbody {
  display: block
}

.i2a-selected-apps-table tbody {
  height: 300;
  overflow-y: auto;
}

button.is-outreached,
.button.is-outreached {
  background-color: #daeeff;
  border-color: #daeeff;
  color: #222; }
button.is-outreached svg use,
.button.is-outreached svg use {
  fill: #222; }
button.is-outreached:focus,
.button.is-outreached:focus {
  background-color: #daeeff;
  color: #222; }
button.is-outreached:hover,
.button.is-outreached:hover {
  background-color: #c2e4f8;
  color: #222; }
button.is-outreached:hover svg use,
.button.is-outreached:hover svg use {
  fill: #222; }
button.is-outreached:active,
.button.is-outreached:active {
  background-color: #aad1ed; }
button.is-outreached.disabled, button.is-outreached[disabled],
.button.is-outreached.disabled,
.button.is-outreached[disabled] {
  background-color: #daeeff;
  border-color: #daeeff;
  color: #222; }
button.is-outreached.disabled:hover, button.is-outreached.disabled:active, button.is-outreached.disabled:focus, button.is-outreached[disabled]:hover, button.is-outreached[disabled]:active, button.is-outreached[disabled]:focus,
.button.is-outreached.disabled:hover,
.button.is-outreached.disabled:active,
.button.is-outreached.disabled:focus,
.button.is-outreached[disabled]:hover,
.button.is-outreached[disabled]:active,
.button.is-outreached[disabled]:focus {
  background-color: #daeeff;
  border-color: #daeeff;
  color: #222; }

.status-pill.is-outreached {
  background-color: #daeeff;
  border: 2px solid #daeeff;
  color: #000; }

.dropdown-menu_item.is-outreached a {
  box-shadow: inset 5px 0px 0px 0px #daeeff !important;
  padding-left: 1.125rem; }

.ReactTable .rt-tr-status.is-outreached .rt-td:first-of-type {
  box-shadow: inset 3px 0 0 0 #daeeff !important; }

.status-update.is-outreached {
  box-shadow: inset 3px 0 0 0 #daeeff !important; }
