.pl-group {
  margin-bottom: 1rem;
  vertical-align: middle;
}

.pl-heading {
  font-family: "Droid Serif", Georgia, Times, serif;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  color: #205493;
}

.pl-preview {
  position: relative;
  background: #fff;
  border: 2px solid #f0f0f0;
  padding: 1rem;
}

.pl-preview-h-150 {
  height: 150px;
}

.row.no-padding-right {
  padding-right: 0px;
}
