.rank-loader {
  width: 20px;
  aspect-ratio: 1;
  display:grid;
  -webkit-mask: conic-gradient(from 15deg,#0000,#000);
  animation: l26 1s infinite steps(12);
}
.rank-loader,
.rank-loader:before,
.rank-loader:after{
  background:
    radial-gradient(closest-side at 50% 12.5%,
     #222 96%,#0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%,
     #222 96%,#0000) 0 50%/80% 20% repeat-x;
}
.rank-loader:before,
.rank-loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.rank-loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {transform:rotate(1turn)}
}