---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--full.cs97.my.salesforce.com","id":"https://test.salesforce.com/id/00D0U0000000Qf1UAE/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1539819610325","signature":"Wf7/RFit1MmpG0MuNkkxztOtkbUt8+upDTJT4yqmafM="}'
  recorded_at: Wed, 17 Oct 2018 23:40:10 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs97.my.salesforce.com/services/data/v43.0/query?q=%0A%20%20%20%20%20%20%20%20%20%20SELECT%20Listing__r.Id,%20Listing__r.Name,%20Listing__r.Status__c%0A%20%20%20%20%20%20%20%20%20%20FROM%20Application__c%0A%20%20%20%20%20%20%20%20%20%20WHERE%20Id%20=%20%27a0o0U000000VVwXQAW%27%0A%20%20%20%20%20%20%20%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D0U0000000Qf1m";
      Sforce-Limit-Info:
      - api-usage=1448/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Application__c","url":"/services/data/v43.0/sobjects/Application__c/a0o0U000000VVwXQAW"},"Listing__r":{"attributes":{"type":"Listing__c","url":"/services/data/v43.0/sobjects/Listing__c/a0W0U000000MX4vUAG"},"Id":"a0W0U000000MX4vUAG","Name":"LAP
        Test Listing (Do not Modify) - Yellow Acres","Status__c":"Lease Up"}}]}'
  recorded_at: Wed, 17 Oct 2018 23:40:10 GMT
[...]
- request:
    method: get
    uri: https://sfhousing--full.cs97.my.salesforce.com/services/apexrest/LeasingAgentPortal/shortForm/Archive/a0o0U000000VVwXQAW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D0U0000000Qf1m";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalMonthlyRent":100.00,"subStatus":null,"status":"Submitted","snapshotId":"a0o0U000000VVwXQAW","shortFormPreferences":[{"zipCode":null,"state":null,"shortformPreferenceID":"a0w0U000001EXhuQAG","requiresProof":false,"recordTypeDevName":"COP","preferenceProof":null,"postLotteryValidation":null,"optOut":false,"naturalKey":null,"lwPreferenceProof":null,"listingPreferenceID":"a0l0U000003nNfiQAE","individualPreference":null,"city":null,"certificateNumber":null,"appMemberID":null,"applicationID":"a0o0U000000VVwXQAW","address":null},{"zipCode":null,"state":null,"shortformPreferenceID":"a0w0U000001EXhvQAG","requiresProof":false,"recordTypeDevName":"DTHP","preferenceProof":null,"postLotteryValidation":null,"optOut":false,"naturalKey":null,"lwPreferenceProof":null,"listingPreferenceID":"a0l0U000003nNfnQAE","individualPreference":null,"city":null,"certificateNumber":null,"appMemberID":"a0n0U0000030tCLQAY","applicationID":"a0o0U000000VVwXQAW","address":null},{"zipCode":null,"state":null,"shortformPreferenceID":"a0w0U000001EXhwQAG","requiresProof":false,"recordTypeDevName":"RB_AHP","preferenceProof":null,"postLotteryValidation":null,"optOut":false,"naturalKey":null,"lwPreferenceProof":null,"listingPreferenceID":"a0l0U000003nNfsQAE","individualPreference":null,"city":null,"certificateNumber":null,"appMemberID":null,"applicationID":"a0o0U000000VVwXQAW","address":null},{"zipCode":null,"state":null,"shortformPreferenceID":"a0w0U000001EXhxQAG","requiresProof":false,"recordTypeDevName":"L_W","preferenceProof":null,"postLotteryValidation":null,"optOut":false,"naturalKey":null,"lwPreferenceProof":null,"listingPreferenceID":"a0l0U000003nNfxQAE","individualPreference":null,"city":null,"certificateNumber":null,"appMemberID":null,"applicationID":"a0o0U000000VVwXQAW","address":null}],"referral":null,"processingStatus":null,"primaryApplicant":{"zip":"94102-6033","yCoordinate":null,"xCoordinate":null,"workInSf":null,"whichComponentOfLocatorWasUsed":null,"webAppID":null,"state":"CA","sexualOrientationOther":null,"sexualOrientation":null,"sexAtBirth":null,"relationship":null,"race":null,"preferenceStatus":null,"preferenceAddressMatch":null,"phoneType":"Work","phone":"(415)
        555-6868","noPhone":false,"noEmail":false,"noAddress":false,"nickname":null,"middleName":null,"maritalStatus":null,"mailingZip":"94102-6033","mailingState":"CA","mailingCity":"SAN
        FRANCISCO","mailingAddress":"25 VAN NESS AVE","lastName":"Nerr","languageOther":null,"language":null,"hiv":false,"hasSameAddressAsApplicant":null,"hasAltMailingAddress":false,"genderOther":null,"gender":null,"firstName":"Partha","ethnicity":null,"email":null,"DOB":"1975-03-03","contactId":"0030U00000P8m5oQAB","city":"SAN
        FRANCISCO","candidateScore":100.00,"appMemberType":"Primary Applicant","appMemberId":"a0n0U0000030tCLQAY","applicationId":"a0o0U000000VVwXQAW","alternatePhoneType":null,"alternatePhone":null,"alternateContactTypeOther":null,"alternateContactType":null,"agency":null,"address":"25
        VAN NESS AVE"},"otherHousingCounselingAgency":null,"numberOfDependents":null,"name":"APP-00262258","monthlyIncome":null,"lotteryNumberManual":null,"lotteryNumber":"00262258","listingID":"a0W0U000000MX4vUAG","interviewScheduledDate":null,"id":"a0o0U000000VVwXQAW","housingCounselingAgency":null,"householdVouchersSubsidies":"false","householdMembers":[],"householdAssets":null,"HHTotalIncomeWithAssets":null,"hasSenior":null,"hasPublicHousing":null,"hasMilitaryService":null,"hasDevelopmentalDisability":null,"formMetadata":null,"finalHouseholdIncome":null,"externalSessionId":null,"didApplicantUseHousingCounselingAgency":null,"appRTType":"Rental_Short_Form","applicationSubmittedDate":"2018-08-24","applicationSubmissionType":"Electronic","applicationLanguage":"English","answeredCommunityScreening":null,"annualIncome":45000.00,"alternateContact":{"zip":null,"yCoordinate":null,"xCoordinate":null,"workInSf":null,"whichComponentOfLocatorWasUsed":null,"webAppID":null,"state":null,"sexualOrientationOther":null,"sexualOrientation":null,"sexAtBirth":null,"relationship":null,"race":null,"preferenceStatus":null,"preferenceAddressMatch":null,"phoneType":null,"phone":"(415)
        555-7777","noPhone":false,"noEmail":false,"noAddress":false,"nickname":null,"middleName":null,"maritalStatus":null,"mailingZip":null,"mailingState":null,"mailingCity":null,"mailingAddress":null,"lastName":"Matts","languageOther":null,"language":null,"hiv":false,"hasSameAddressAsApplicant":null,"hasAltMailingAddress":false,"genderOther":null,"gender":null,"firstName":"Flora","ethnicity":null,"email":null,"DOB":null,"contactId":null,"city":null,"candidateScore":null,"appMemberType":"Alternate
        Contact","appMemberId":"a0n0U0000030tCaQAI","applicationId":"a0o0U000000VVwXQAW","alternatePhoneType":null,"alternatePhone":null,"alternateContactTypeOther":null,"alternateContactType":null,"agency":null,"address":null},"agreeToTerms":false,"adaPrioritiesSelected":null}'
  recorded_at: Wed, 17 Oct 2018 23:40:12 GMT
[...]
- request:
    method: get
    uri: https://sfhousing--full.cs97.my.salesforce.com/services/data/v43.0/query?q=%0A%20%20%20%20%20%20%20%20%20%20SELECT%20Id,%20Document_Type__c,%20Related_Application__c,%20Related_Application_Preference__c%0A%20%20%20%20%20%20%20%20%20%20FROM%20Attachment__c%0A%20%20%20%20%20%20%20%20%20%20WHERE%20Related_Application__c%20=%20%27a0o0U000000VVwXQAW%27%0A%20%20%20%20%20%20%20%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D0U0000000Qf1m";
      Sforce-Limit-Info:
      - api-usage=1448/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Wed, 17 Oct 2018 23:40:13 GMT
[...]
- request:
    method: get
    uri: https://sfhousing--full.cs97.my.salesforce.com/services/data/v43.0/query?q=%0A%20%20%20%20%20%20%20%20SELECT%20Flagged_Record_Set__c,%20Flagged_Record_Set__r.Id,%20Flagged_Record_Set__r.Rule_Name__c,%20Flagged_Record_Set__r.Total_Number_of_Pending_Review__c%0A%20%20%20%20%20%20%20%20FROM%20Flagged_Application__c%0A%20%20%20%20%20%20%20%20WHERE%20Application__c%20%20=%20%27a0o0U000000VVwXQAW%27%0A%20%20%20%20%20%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D0U0000000Qf1m";
      Sforce-Limit-Info:
      - api-usage=1449/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Wed, 17 Oct 2018 23:40:14 GMT
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--full.cs97.my.salesforce.com","id":"https://test.salesforce.com/id/00D0U0000000Qf1UAE/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1539819615154","signature":"EIDbKq62lzdBVnlO3HVLAzfVAilqhm8RKlnP125wa9g="}'
  recorded_at: Wed, 17 Oct 2018 23:40:15 GMT
recorded_with: VCR 4.0.0
