---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--full.cs97.my.salesforce.com","id":"https://test.salesforce.com/id/00D0U0000000Qf1UAE/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1539805513917","signature":"D7Z8WzIxR4Y5gqJY4YR7THTqY2xuZmyS6BW+2cS5704="}'
  recorded_at: Wed, 17 Oct 2018 19:45:14 GMT
- request:
    method: get
    uri: https://sfhousing--full.cs97.my.salesforce.com/services/data/v43.0/query?q=%0A%20%20%20%20%20%20%20%20%20%20SELECT%20Listing__r.Id,%20Listing__r.Name,%20Listing__r.Status__c%0A%20%20%20%20%20%20%20%20%20%20FROM%20Application__c%0A%20%20%20%20%20%20%20%20%20%20WHERE%20Id%20=%20%27a0o0P00000Fv20MQAR%27%0A%20%20%20%20%20%20%20%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D0U0000000Qf1m";
      Sforce-Limit-Info:
      - api-usage=1145/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Application__c","url":"/services/data/v43.0/sobjects/Application__c/a0o0P00000Fv20MQAR"},"Listing__r":{"attributes":{"type":"Listing__c","url":"/services/data/v43.0/sobjects/Listing__c/a0W0P00000F8YG4UAN"},"Id":"a0W0P00000F8YG4UAN","Name":"Automated
        Test Listing (please do not modify)","Status__c":"Active"}}]}'
  recorded_at: Wed, 17 Oct 2018 19:45:15 GMT
[...]
- request:
    method: get
    uri: https://sfhousing--full.cs97.my.salesforce.com/services/apexrest/LeasingAgentPortal/shortForm/a0o0P00000Fv20MQAR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D0U0000000Qf1m";
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalMonthlyRent":0,"subStatus":null,"status":"Submitted","snapshotId":null,"shortFormPreferences":[{"zipCode":null,"state":null,"shortformPreferenceID":"a0w0P00000N1bbAQAR","requiresProof":false,"recordTypeDevName":"COP","preferenceProof":null,"postLotteryValidation":null,"optOut":false,"naturalKey":null,"lwPreferenceProof":null,"listingPreferenceID":"a0l0P00001Lx8XKQAZ","individualPreference":null,"city":null,"certificateNumber":null,"appMemberID":null,"applicationID":"a0o0P00000Fv20MQAR","address":null},{"zipCode":null,"state":null,"shortformPreferenceID":"a0w0P00000N1bbBQAR","requiresProof":false,"recordTypeDevName":"RB_AHP","preferenceProof":null,"postLotteryValidation":null,"optOut":true,"naturalKey":null,"lwPreferenceProof":null,"listingPreferenceID":"a0l0P00001Lx8XZQAZ","individualPreference":"Assisted
        Housing","city":null,"certificateNumber":null,"appMemberID":null,"applicationID":"a0o0P00000Fv20MQAR","address":null},{"zipCode":null,"state":null,"shortformPreferenceID":"a0w0[...]
[...]
- request:
    method: get
    uri: https://sfhousing--full.cs97.my.salesforce.com/services/data/v43.0/query?q=%0A%20%20%20%20%20%20%20%20%20%20SELECT%20Id,%20Name,%20Preference_Name__c,%20Person_who_claimed_Name__c,%20Type_of_proof__c,%20Opt_Out__c,%20Lottery_Status__c,%20Preference_Lottery_Rank__c,%20Listing_Preference_ID__c,%20Receives_Preference__c,%20Application_Member__c,%20Application_Member__r.First_Name__c,%20Application_Member__r.Last_Name__c,%20Application_Member__r.Date_of_Birth__c,%[...]
[...]
- request:
    method: get
    uri: https://sfhousing--full.cs97.my.salesforce.com/services/data/v43.0/query?q=%0A%20%20%20%20%20%20%20%20%20%20SELECT%20Id,%20Document_Type__c,%20Related_Application__c,%20Related_Application_Preference__c%0A%20%20%20%20%20%20%20%20%20%20FROM%20Attachment__c%0A%20%20%20%20%20%20%20%20%20%20WHERE%20Related_Application__c%20=%20%27a0o0P00000Fv20MQAR%27%0A%20%20%20%20%20%20%20%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D0U0000000Qf1m";
      Sforce-Limit-Info:
      - api-usage=1146/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Wed, 17 Oct 2018 19:45:21 GMT
[...]
- request:
    method: get
    uri: https://sfhousing--full.cs97.my.salesforce.com/services/data/v43.0/query?q=%0A%20%20%20%20%20%20%20%20SELECT%20Flagged_Record_Set__c,%20Flagged_Record_Set__r.Id,%20Flagged_Record_Set__r.Rule_Name__c,%20Flagged_Record_Set__r.Total_Number_of_Pending_Review__c%0A%20%20%20%20%20%20%20%20FROM%20Flagged_Application__c%0A%20%20%20%20%20%20%20%20WHERE%20Application__c%20%20=%20%27a0o0P00000Fv20MQAR%27%0A%20%20%20%20%20%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://calm-dawn-26291.herokuapp.com/hpkp-report/00D0U0000000Qf1m";
      Sforce-Limit-Info:
      - api-usage=1146/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Flagged_Application__c","url":"/services/data/v43.0/sobjects/Flagged_Application__c/a0q0P00000NhxcMQAR"},"Flagged_Record_Set__c":"a0r0P00002X4r08QAB","Flagged_Record_Set__r":{"attributes":{"type":"Flagged_Record_Set__c","url":"/services/data/v43.0/sobjects/Flagged_Record_Set__c/a0r0P00002X4r08QAB"},"Id":"a0r0P00002X4r08QAB","Rule_Name__c":"Name
        + DOB","Total_Number_of_Pending_Review__c":52.0}},{"attributes":{"type":"Flagged_Application__c","url":"/services/data/v43.0/sobjects/Flagged_Application__c/a0q0U000000VJoHQAW"},"Flagged_Record_Set__c":"a0r0U0000005MUsQAM","Flagged_Record_Set__r":{"attributes":{"type":"Flagged_Record_Set__c","url":"/services/data/v43.0/sobjects/Flagged_Record_Set__c/a0r0U0000005MUsQAM"},"Id":"a0r0U0000005MUsQAM","Rule_Name__c":"Residence
        Address","Total_Number_of_Pending_Review__c":47.0}}]}'
  recorded_at: Wed, 17 Oct 2018 19:45:24 GMT
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<<SALESFORCE_CLIENT_ID>>&client_secret=<<SALESFORCE_CLIENT_SECRET>>&username=<<SALESFORCE_USERNAME>>&password=<<SALESFORCE_PASSWORD>><<SALESFORCE_SECURITY_TOKEN>>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"<<ACCESS_TOKEN>>","instance_url":"https://sfhousing--full.cs97.my.salesforce.com","id":"https://test.salesforce.com/id/00D0U0000000Qf1UAE/005U00000066jl9IAA","token_type":"Bearer","issued_at":"1539805525584","signature":"n3zTBO0SBcPmefTMlWbNkD8wZdOURlZfuEv0O145is4="}'
  recorded_at: Wed, 17 Oct 2018 19:45:25 GMT
recorded_with: VCR 4.0.0
